<div class="header">
  <h1 id="head-title">database</h1>
  <h4 id="sub-title">live results</h4>
  <br>
  <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for player, tournament, festival, ...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
</div>
<footer>
 <a href="https://github.com/flrnt" target="_blank">FLRNT</a>
</footer>
